* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Buatlah styling section top dibawah ini */
.top {
  padding-top: 2%;
  display: grid;
  justify-content: center;
}
.icon {
  justify-content: center;
  display: flex;
  padding: 10px;
}

/* Buatlah styling section container dan card dibawah ini */

.container {
  display: grid;
  border: 1px solid black;
  grid-template-areas: "card card";
  grid-template-columns: 50%;
  grid-template-rows: 2fr auto;
}
.card {
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  box-shadow: inset 3px 3px 4px rgba(0.5, 0, 0.5, 0.4);
  padding: 10px;
  grid-gap: 10px;
}
.description {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 50%;
}

/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive */
@media only screen and (min-width: 200px) and (max-width: 750px) {
  .container {
    width: 100%;
  }
}
