.container {
  background-color: beige;
  border: 1px solid salmon;
  margin: 2px 0 2px;
}

body {
  margin: 25px;
  padding: 10px;
  background-color: #fff9f9;
}
.h3 {
  color: #5264c7;
}
.h1 {
  color: black;
}

img {
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 50;
  position: fixed;
}
ul a {
  text-decoration: none;
  padding: 10px;
  color: #5264c7;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header nav {
  background-color: #ffffff;
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;
  justify-content: end;
}
header ul {
  text-decoration: none;
  list-style: none;
  margin: 20px;
  display: flex;
  justify-content: right;
}

section {
  background-color: rgb(246, 246, 246);
  padding: 30px;
  margin: 50px;
  border: 0px solid rgb(18, 19, 18);
  height: 750px;
  box-shadow: 3px 3px 30px rgba(0.7, 0.7, 0.7, 0.7);
  border-radius: 0px 20px 0 20px;
}
section h1 {
  text-align: left;
}
footer {
  background-color: rgb(65, 78, 149);
  width: 100%;
  height: 50px;
  right: 0;
  position: absolute;
  justify-items: center;
  margin-top: -40px;
}
footer h5 {
  text-align: center;
}
