.App {
  text-align: center;
  margin: 100px auto;
  margin-bottom: 200px;
  width: 500px;
  box-shadow:0px 0px 3px 1px #333333;
  border: 1px solid rgb(105, 61, 141);
  
}


.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
  
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fefeff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
